{% extends 'index.html' %}

    {%block title %} Login Page {% endblock %}

    {% block body %}

<div class="well">
 
    <h4>Signin Here</h4>
 
    <form role="form" class="clearfix">
          {% csrf_token %}
 
        <div class="col-md-4 form-group">
            <h4>Username:</h4>
            <label class="sr-only" for="name">UserName</label>
            <input type="text" class="form-control" id="Username" placeholder="Username">
        </div>
 
        <div class="col-md-4 form-group">
             <h4>Password:</h4>

            <label class="sr-only" for="password">Password</label>
            <input type="password" class="form-control" id="password" placeholder="Password">
        </div>
        <div class="col-md-8 form-group text-right">
         <label><input type="checkbox"> Remember me</label>
       </div>
        <div class="col-md-8 form-group text-right">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
 
    </form>        
</div>
    {% endblock %}
