{% extends 'index.html' %}

{% block title%} Manage Perfromance {% endblock %}


{% block body %}

<div class="container">
  
  <h3>Managing the Performance </h3><br/>
  <table class="table table-hover table-bordered">
    <thead>
      <tr>
        <th>#</th>
        <th>Parameter</th>
        <th>Weightage</th>
        <th>Score</th>
        <th>Month</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td></td>
        <td><input type="number" size="3" min="0" max="100"></td>
        <td><input type="number" size="3" min="0" max="100"></td>

        <td><input></td>
      </tr>
      <tr>
        <td>2</td>
        <td></td>
        <td><input type="number" size="3" min="0" max="100"></td>
        <td><input type="number" size="3" min="0" max="100"></td>

        <td><input></td>
      </tr>
      <tr>
        <td>3</td>
        <td></td>
        <td><input type="number" size="3" min="0" max="100"></td>
        <td><input type="number" size="3" min="0" max="100"></td>

        <td><input></td>
      </tr>
    </tbody>
  </table>
</div>


{% endblock %}
</html>
